{% extends 'home/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}  <!-- Load the static template tag -->
    <link href="{% static 'src/main.css' %}" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <br>
  <div class="header">
    <h1>Welcome to Plutus ! </h1>
    <br>
    <p>Be more serein into managing your money.</p>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas possimus saepe nostrum error ab nesciunt porro maxime a cumque deserunt doloribus consectetur repudiandae neque modi illum, qui recusandae est. Perspiciatis!</p>
  </div>
</div>
<br>
{% include 'home/footer.html' %}
</body>
</html>
{% endblock %}
