{% extends 'home/base.html' %}


{% block title %}Home{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}  <!-- Load the static template tag -->
    <link href="{% static 'src/main.css' %}" rel="stylesheet">
    <title>Home</title>
</head>
<style>
    .title{
        margin-left: 500px;
    }

    .board{
        background-image:url(static/src/image/header.png);
        background-size: cover;

        height: 700px;
    }
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;  
        padding-left: 300px;     
    }
    .text{
        font-family: 'Times New Roman', Times, serif;
        font-size: 22px;
        padding-left: 600px;
    }

</style>
<body>
<div class="board">
    <div class="title"><p>Welcome !</p>
    </div>


<div class="text">
    Minotary is a web application that helps you manage your wallet.
</div>
</div>
</body>
</html>
{% endblock %}
