{% extends 'home/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}  <!-- Load the static template tag -->
    <link href="{% static 'src/main.css' %}" rel="stylesheet">
    <title>Home</title>
</head>
<body>
  <main>
    <br>
  <div class="header">
    <h1>Welcome to Plutus ! </h1>
    <br>
    <p>Be more serein into managing your money.</p>
    <br>
    <p>Take control of your finances with confidence. Manage your money more serenely, track your progress, and build a stronger financial future./p>
  </div>
</div>
<br>
</main>
<footer class="footer">{% include 'home/footer.html' %}</footer>


</body>
</html>
{% endblock %}
