{% block content %}
<h1>Welcome to {{ profile.user.firstname }}'s Profile</h1>

{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<form method="post" action="{% url 'user_profile' %}">
    {% csrf_token %}
    <p>Tell us more about you !</p>
    <input type="text" name="bio" placeholder="Type your bio here" value="{{ profile.bio }}"><br>  
    <input type="submit" value="Submit">
</form>

<p>Profile bio: {{ profile.bio }}</p>  <!-- Display the bio -->

{% endblock %}
