{% extends 'home/base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} 
    <link href="{% static 'src/main.css' %}" rel="stylesheet">
    <title>Register</title>
</head>
<body>
<div class="login-container">
    <div class="left">
        <img src="{% static 'src/1.jpg' %}" alt="Register Image">
    </div>
    <div class="right">
    <form method="post">
        {% csrf_token %}

        {% if messages %}
            {% for message in messages %}
                <p class="error">{{ message }}</p>
            {% endfor %}
        {% endif %}
        
        {% if form.errors %}
            <div class="error">
                <p>Please correct the errors below.</p>
            </div>
        {% endif %}

        {{ form.as_p }}

        <input type="submit" value="Register">
    </form>
    </div>
</div>
</body>
</html>

{% endblock %}
